/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.bgImgCentergame{
  background-image: url('./gameback.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-color:#CEA64E;
  position: cover;
  height: 100vh;
}
.gameCol{
  height: 400px;
  width: 400px;
}
.gpadding {
  padding: 1rem 9rem 0rem 9rem !important;
}

.row,.col{
  margin: 0px;
  padding: 0px;
}


.centerDiv {
  position: absolute;

  top: 20%;
  left: 50%;

}
.whiteborder{
  border: 6px solid white;
}


.purple{
  color: #CEA64E;
  font-weight: 800;
}

.pupleButton{

  background: #CEA64E;
}
.white{
  color: white;
}

.heading{

  font-size: 18px;
}

.rounded {
  border-radius: 1.25rem!important;
  border: 2px solid #CEA64E;
}

.gameColbutton{
width: 400px;
}

.tr{
  text-align: right;
}

input{
  height:26px
}

.mrg{
  margin-top: 180px;
}

.emg{
  margin-top: 15px;
}


